<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center>
      <h1><%= title %></h1>
      <% data.forEach(function(data){ %>
        <% for (let x in data.listing) { %>
          <%= data.listing[x] %>
        <% } %>
        <br>
      <% }) %>
    </center>
    <table>
      <tr>
        <td><h1></h1><h2></h2></td>
      </tr>
      <tr>
    </table>
  </body>
</html>
